.logo{ 
    margin-left:450px; 
} 
.btn{ 
    background-color: green; 
    margin-left:1240px; 
    width: 100px; 
    height: 50px; 
    margin-top: -10px;
} 
.ads form{ 
    margin-left:450px; 
    margin-top:-350px; 
    font-family: 'Dancing Script', cursive; 
    font-size: 50px;
} 
.desp form{ 
    font-family: 'Yanone Kaffeesatz', sans-serif;; 
    font-size: 30px;
}  
.tdd{  
    margin-top:150px;
} 
.tdd td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  